<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <title>Cupcakes</title>
  <style>
    .card-img-top {
      width: 100%;
      height: 15vw;
      object-fit: cover;
     }
  </style>
</head>

<body>

  <!-- TODO loop over cupcakes -->
  <div class="container">
    <h1 class="display-1 text-center">CUPCAKES</h1>
  <div class="container justify-content-center">
    <form class="cupcake-form">
      <div class="form-group">
        <label for="flavor">Cupcake Flavor</label>
        <input type="text" name="flavor" class="flavor-input form-control" placeholder="Enter a flavor/type">
      </div>
      <div class="form-group">
        <label for="size">Size</label>
        <input type="text" name="size" class="size-input form-control" placeholder="eg large">
      </div>
      <div class="form-group">
        <label for="image">Image URL</label>
        <input type="text" name="image" class="image-input form-control" placeholder="Please enter an image url">
      </div>
      <div class="form-group">
        <label for="Rating">Rating</label>
        <input type="number" step="0.5" min="1" max="10" name="text" class="number-input form-control" placeholder="Please enter an amount from 1.0 to 10.0" >
      </div>
      <button class="submit-btn btn btn-primary">Submit</button>
    </form>
  </div>
 
    
     <div class="container">
        <div class="row row-cols-2">
          <div class="col-4">
            {%for cupcake in cupcakes%}
            <div class="card text-white bg-primary" style="width: 18rem;">
              <img class="card-img-top" src="{{cupcake.image}}" alt="">
              <div class="card-body">
                <h4 class="card-title">{{cupcake.flavor}}</h4>
                <p class="card-text">Rating {{cupcake.rating}} out of 10</p>
          </div>
          {%endfor%}
          </div>
        </div>
     </div>
   </div>
    <!-- TODO make form -->
 


  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"
    integrity="sha256-T/f7Sju1ZfNNfBh7skWn0idlCBcI3RwdLSS4/I7NQKQ=" crossorigin="anonymous"></script>
  <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
  <script src="static/cupcakes.js"></script>
</body>

</html>